<%- include ('./layouts/header'); %>
<%- include ('./navbar'); %>
<body>
<body style="background-color: rgb(234, 234, 234);">
<div class="container-fluid mt-5 mb-5">
    <div class="card shadow-sm border">
        <div class="card-header bg-info">
            <h5 class="card-title text-light">Tabel Atlet</h5>
        </div>
        <div class="card-body">
            <%- include ('./tableAtlet'); %>
        </div>
    </div>
</div>
</body>