<div class="card">
    <div class="card-header">
        <% chartRenang.forEach(chartRenang => { %> <%= chartRenang.atlet_renang %> <% }) %>
    </div>
    <div class="card-body" id="chart">
    </div>
</div>

<script>
    var options = {
        series: [{
            name: 'Atlet Renang',
            data: [<% chartRenang.forEach(chartRenang => { %> <%= chartRenang.atlet_renang %> <% }) %>]
        }, {
            name: 'Atlet Takraw',
            data: [<% chartTakraw.forEach(chartTakraw => { %> <%= chartTakraw.atlet_takraw %> <% }) %>]
        }, {
            name: 'Free Cash Flow',
            data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
        }],
        chart: {
            type: 'bar',
            height: 350
        },
        plotOptions: {
            bar: {
                horizontal: false,
                columnWidth: '55%',
                endingShape: 'rounded'
            },
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            show: true,
            width: 2,
            colors: ['transparent']
        },
        xaxis: {
            categories: [<% chartTahun.forEach(chartTahun => { %> '<%= chartTahun.tahun_mulai %>', <% }) %>],
        },
        yaxis: {
            title: {
                text: 'Jumlah'
            }
        },
        fill: {
            opacity: 1
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();

</script>