<%- include ('./layouts/header'); %>
    <%- include ('./navbar'); %>
        <div style="background-color: #f8f9fa;">
            <div class="container-fluid">
                <%- include ('./box'); %>
            </div>
        </div>

        <%- include ('./layouts/footer'); %>