<form id="add-row-form" action="/atlet/delete" method="post">
    <div id="deleteAtlet" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Atlet</h5>
                </div>
                <div class="modal-body">
                    <strong>Are You Sure To Delete This Data?</strong>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="id_atlet" class="form-control product_id2" required />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="id_atlet" class="product_id2 btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>